.azul {
    background-color: lightblue;
}

.laranja {
    background-color: orange;
}

.rosa {
    background-color: pink;
}

.verde {
    background-color: greenyellow;
}

.roxo {
    background-color: purple;
}